/* Container Background */

.sectionHeader {

	background-color: #F9FBFD;
	height: 80vh;
	background-size: contain;
    background-repeat: no-repeat;
    color: #000;
    line-height: 2rem;

}

.sectionContent {
	
    display: flex;
	align-items: center;
	height: 100%;
	text-align: left;

}

.bannerImage {

	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;	

}


/* Nav */

.navlink {

	color: #000;

}


/* Banner Content */

.registerButton {

	text-decoration: none;
	color: #fff;
	padding: 8px 20px;
	border-radius: 27px;
	background-color: #00A99D;
	font-size: 14px;


}

.navRegisterButton {

	background-color: #00A99D;
	color: #fff;

}