@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.sidebarToggle {

	display: none;
}


.sidebar {

	height: 100%;
	width: 240px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: #027581;
	color: #fff;
	overflow-y: auto;
	transition: width 500ms;

}

.sidebarHeader {

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0rem 1rem;
}

.sidebarMenu {

	padding: 1rem;

}

.sidebar li {

	margin-bottom: 1.2rem;

}

.sidebar a {

	color: #fff;
	font-size: .9rem;

}

.sidebar a span:last-child {

	padding-left: .6rem;

}

.sidebarToggle:checked ~ .sidebar {

	width: 60px;
}

.sidebarToggle:checked ~ .sidebar .sidebarHeader h4 span:last-child,
.sidebarToggle:checked ~ .sidebar li span:last-child {
  
  display: none;
}

.sidebarToggle:checked ~ .sidebar .sidebarHeader,
.sidebarToggle:checked ~ .sidebar li {
  
  display: flex;
  justify-content: center;
}

.sidebarToggle:checked ~ .mainContent {

	margin-left: 60px;
}

.sidebarToggle:checked ~ .mainContent header {

	left: 60px;
}






@media only screen and (max-width: 768px) {

	
	.sidebar {

		width: 60px;
		z-index: 150;
	}

	.sidebar .sidebarHeader h4 span:last-child,
	.sidebar li span:last-child {
	  
	  display: none;
	}

	.sidebar .sidebarHeader,
	.sidebar li {
	  
	  display: flex;
	  justify-content: center;
	}

	.mainContent {

		margin-left: 60px;
	}

	.mainContent header {

		left: 60px;
		width: calc(100% - 60px);
	}


	.sidebarToggle:checked ~ .sidebar {

		width: 240px;
	}

	.sidebarToggle:checked ~ .sidebar .sidebarHeader h4 span:last-child,
	.sidebarToggle:checked ~ .sidebar li span:last-child {
	  
	  	display: inline;
	}

	.sidebarToggle:checked ~ .sidebar .sidebarHeader {
	  
		 display: flex;
		 justify-content: space-between;
	}

	.sidebarToggle:checked ~ .sidebar li {

		display: block;
	}

	.sidebarToggle:checked ~ .mainContent {

		margin-left: 60px;
	}

	.sidebarToggle:checked ~ .mainContent header {

		left: 60px;
	}
}





/*main #027581
dark #1D2231
grey #8390A2*/