.section {

	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	font-family: 'Poppins', sans-serif;
}

.imgBx {

	position: relative;
	width: 50%;
	height: 100%;

}

.imgBx:before {

	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(225deg,#e91e63,#00A9AA);
	z-index: 1;
	mix-blend-mode: screen;
}

.imageBg {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.contentBx {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;

}

.formBx {

	width: 50%;

}

.formBx h2 {

	color: #35424A;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #00A9AA;
	display: inline-block;
	letter-spacing: 1px;

}

.inputBx {

	margin-bottom: 20px;

}

.inputBx span {

	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #607d8b;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;

}

.inputBx input {

	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 30px;

}

.inputBx input[type="submit"] {

	background: #00A9AA;
	color: #fff;
	outline: none;
	font-weight: 500;
	cursor: pointer;
	margin-top: 1rem;
}

.inputBx input[type="submit"]:hover {

	background: #607d8b;
}

.remember {

	margin-bottom: 10px;
	color: #607d8b;
	font-weight: 400;
	font-size: 14px;

}

.inputBx p {

	color: #607d8b;

}

.inputBx a {

	color: #00A9AA;

}

@media (max-width: 768px) {

	.imgBx {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}
	.contentBx {

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 1;

	}
	.formBx {

		width: 100%;
		padding: 40px;
		background: rgb(255 255 255 / 0.9);
		margin: 50px;

	}
	.formBx h3 {

		color: #607d8b;
		text-align: center;
		margin: 30px 0 10px;
		font-weight: 500;

	}

}