
.dashboard {

	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;

}




/*Start of Main Content*/


.mainContent {

	position: relative;
	margin-left: 240px;
	transition: margin-left 500ms;
}

.header {

	position: fixed;
	left: 240px;
	top: 0;
	z-index: 100;
	width: calc(100% - 240px);
	background: #fff;
	height: 60px;
	padding: 0rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	transition: left 500ms;

}

.searchWrapper {

	display: flex;
	align-items: center;

}

.searchWrapper input {

	border: 0;
	outline: 0;
	padding: 1rem;
	height: 38px;

}

.socialIcons {

	display: flex;
	align-items: center;

}

.socialIcons span, .socialIcons div {

	margin-left: 1.2rem;

}


.socialIcons div {

	height: 38px;
	width: 38px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/avatar.png");
	border-radius: 50%;

}



.main {

	margin-top: 60px;
	background: #f1f5f9;
	min-height: 90vh;
	padding: 1rem 3rem;
}

.dashTitle {

	color: #1D2231;
	margin-bottom: 1rem;

}

.dashCards {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3rem;

}

.cardSingle {

	background: #fff;
	border-radius: 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.cardBody {

	padding: 1.3rem 1rem;
	display: flex;
	align-items: center;

}

.cardBody span {

	font-size: 1.5rem;
	color: #777;
	padding-right: 1.4rem;

}

.cardBody h5 {

	color: #8390A2;
	font-size: 1rem;
}

.cardBody h4 {

	color: #1D2231;
	font-size: 1.1rem;
	margin-top: 1rem;
}

.cardFooter {

	padding: .2rem 1rem;
	background: #f9fafc;
}

.cardFooter a {

	color: #027581;
}


.sectionRecent {

	margin-top: 3rem;
	margin-bottom:3rem;
}

.activityGrid {

	display: grid;
	grid-template-columns: 75% 25%;
	grid-column-gap: 1.5rem;
}

.activityCard, .summaryCard, .bdayCard {

	background: #fff;
	border-radius: 7px;
	padding: 0rem;

}

.activityCard h3 {

	color: #8390A2;
	padding: 1rem;
}

.activityCard table {

	width: 100%;
	border-collapse: collapse;
}

.activityCard thead {

	background: #efefef;
	text-align: left;
}

.activityCard thead, .activityCard tbody, .activityCard th, .activityCard td {

	font-size: .9rem;
	padding: 1rem 1rem;
	color: #1D2231;
}

.activityCard td {

	font-size: .8rem;
}

.activityCard tr:nth-child(even) {

	background-color: #f9fafc;
}

.badgeSuccess {

	padding: .2rem 1rem;
	border-radius: 20px;
	font-weight: 700;
	background: #DEF7EC;
	color: #027581;
	font-size: .7rem;
}

.badgeWarning {

	padding: .2rem 1rem;
	border-radius: 20px;
	font-weight: 700;
	background: #F0F6B2;
	color: orange;
	font-size: .7rem;
}

.tdTeam {

	display: flex;
	align-items: center;
}

.img1,
.img2,
.img3 {

	height: 38px;
	width: 38px;	
	border-radius: 50%;
	margin-left: -15px;
	border: 3px solid #efefef;
	background-size: cover;
	background-repeat: no-repeat;
}

.img1 {

	background-image: url('/team1.jpg')
}

.img2 {

	background-image: url('/team2.jpg')
}

.img3 {

	background-image: url('/team3.jpg')
}

.summaryCard {

	margin-bottom: 1.5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}


.summarySingle {

	padding: .5rem 1rem;
	display: flex;
	align-items: center;
}


.summarySingle span {

	font-size: 1.5rem;
	color: #777;
	padding-right: 1rem;
}

.summarySingle h5 {

	color: #027581;
	font-size: 1.1rem;
	margin-bottom: 0rem !important;
}

.summarySingle small {

	font-weight: 700;
	color: #8390A2;
}

.bdayFlex {

	display: flex;
	align-items: center;
	margin-bottom: .3rem;
}

.bdayCard {

	padding: 1rem;
}

.bdayImg {

	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 3px solid #efefef;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/avatar.png');
	margin-right: .7rem;
}

.textCenter {

	text-align: center;
}

.textCenter button {

	background: #027581;
	color: #fff;
	border: 1px solid #027581;
	border-radius: 4px;
	padding: .4rem 1rem;
}

.tableResponsive {

	overflow-x: auto;
}


@media only screen and (max-width: 768px) {


	.mainContent {

		margin-left: 60px;
	}

	.mainContent header {

		left: 60px;
		width: calc(100% - 60px);
	}


}


@media only screen and (max-width: 860px) {

	.dashCards {
		
		grid-template-columns: repeat(2,1fr);
	}

	.cardSingle {

		margin-bottom: 1rem;
	}

	.activityGrid {

		display: block;
	}

	.summary {

		margin-top: 1.5rem;
	}
}



@media only screen and (max-width: 600px) {

	.dashCards {
		
		grid-template-columns: 100%;
	}

}

@media only screen and (max-width: 450px) {

	.main {
		
		padding-left: 1rem;
		padding-right: 1rem;
	}

}



