.statusGreen, .statusRed {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-right: 1rem;
}

.statusGreen {
	background: green;
}

.statusRed {
	background: red;
}


.customer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem .7rem;
}

.info {
	display: flex;
	align-items: center;
}

.info img {
	border-radius: 50%;
	margin-right: 1rem;
}

.info h4 {
	font-size: .8rem;
	font-weight: 600;
	color: #222;
}

.info small {
	font-weight: 600;
	color: var(--text-grey);
}

.contact span {
	font-size: 1.2rem;
	display: inline-block;
	margin-left: .5rem;
	color: var(--main-color);
}

.description {
	text-transform: uppercase;
}