.featuresContent {

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0;

}

.featuresContent h6 {
    color: #00A9B6;
}

.featuresH4 {

	color: rgb(0, 169, 157);
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    margin: 0;

}

.featuresH2 {

	font-size: 20px;
    line-height: 30px;

}

.featureSVG1 {

	height: 100px;
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

}