.sectionFooter {

	width: 100%;
	color: #000;
	position: relative;
	background-color: #29A99D;
	margin-top: 5rem;
	overflow: hidden;

}

.socialMedia a, .footerLink a, .footerContact a {

	text-decoration: none;
	transition: .5s;
	color: #fff;

}

.socialMedia ul li, .footerLink ul li, .footerContact ul li {

	list-style-type: none;

}

.footer {

	border-top: #00A9AA 6px solid;
	background-color: #35424A;
	color: #fff;

}

.footerInfo {

	width: 90%;
	margin: 0 auto;
	display: flex;
	padding: 50px 0;

}

.footerAbout, .footerLink, .footerContact {

	padding: 0 15px;

}

.footerAbout h5, .footerLink h5, .footerContact h5 {

	margin-bottom: 25px;

}



.footerAbout, .footerContact, .footerApps {

	width: 40%;

}

.footerLink {

	width: 20%;

}

.socialMedia {

	margin-top: 30px;

}

.socialMedia ul {

	display: flex;

}

.socialMedia ul li a {

	display: inline-block;
	margin-right: 50px;
	width: 50px;
	height: 50px;
	padding-top: 12px;
	background-color: transparent;
	border: 1px solid #fff;
	text-align: center;

}

.socialMedia ul li a:hover {

	background-color: #fff;
	color: #000;

}

.footerLink ul li a {

	display: block;
	margin-bottom: 15px;
	font-size: 15px;

}

.footerLink ul li a:hover {

	color: #000;

}

.footerContact ul li {

	display: flex;
	align-items: center;
	margin-bottom: 15px;

}

.footerContact ul li span {

	margin-right: 15px;

}

.copyright {

	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #00A9AA;	

}

.copyrightP {

	margin-bottom: 0;

}

.logo {

	color: #fff;

}

.aboutImg {

	height: 120px;
	width: 300px;
	filter: drop-shadow(4px 4px 4px white);
	

}



@media screen and (max-width: 992px) {

	.footerAbout, .footerContact, .footerApps {

		width: 35%;

	}

	.footerLink {

		width: 30%;

	}

}

@media screen and (max-width: 965px) {

	.footerAbout, .footerContact, .footerLink, .footerApps {

		width: 35%;
		margin-bottom: 30px;

	}

	.footerInfo	{

		flex-direction: column;

	}

}