.modalTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
}

.modalTitle h5 {
	
	display: flex;
	justify-content: center;
	align-items: center;
}


.cardCategory {
	padding: 2rem;
	height: 18rem;
}

.cardCategory button{
	width: 100%;	
	margin-top: 15px;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	
}

.btnSubmit {
	background-color: #00A99D;
	border-color: #00A99D;
	transition: all .5s;
	margin-bottom: 5px;
	font-size: 1rem;
	padding-top: 2px;
	padding-bottom: 2px;
}

.btnSubmit:hover {
	color: #fff;
	transform: translateY(-4px);
	box-shadow: .5rem .5rem 2rem #00A99D;
}

.btnClose {
	background-color: #35424A;
	border-color: #35424A;
	transition: all .5s;
	margin-bottom: 5px;
	font-size: 1rem;
	padding-top: 2px;
}

.btnClose:hover {
	color: #fff;
	transform: translateY(-4px);
	box-shadow: .5rem .5rem 2rem #35424A;
}




.cardCategory a {
	text-decoration: none;
	color: #fff;
}


.categoryLabel {
	position: absolute;
	margin-top: -12px;
	margin-left: 10px;
	background-color: #fff;
}

.categoryLabel span {
	font-size: 11px;
	margin-left: 5px;
}