* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

html {

	font-size: 1em;

}

:root {
--main-color: #35424A;
--color-dark: #1D2231;
--text-grey: #8390A2;
}