.aboutContent {

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0;
	overflow: hidden;

}

.aboutH4 {

	color: rgb(0, 169, 157);
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    margin: 0;

}

.aboutH2 {

	font-size: 20px;
    line-height: 30px;

}

.aboutImg {

	height: 120px;
	width: 300px;
	padding: 25px;

}


.cardText {

	font-size: 13px;

}



/* Team Section */

.aButton {

	text-decoration: none;
	color: #fff;

}

.sectionTeam {

	padding: 0rem 0;
	background-color: #fff;

}

.headingTeam {

	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 5rem;
	text-align: center;
	color: #333;
	position: relative;

}

.headingTeam::after {

	content: "";
	width: 5rem;
	height: .5rem;
	background-color: #00A99D;
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;

}

.cardWrapper {

	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;

}

.cardTeam {

	width: 20rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);

}

.teamImage {

	width: 100%;
	height: 12rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profileImage {

	width: 8rem;
	height: 8rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -8rem;
	border: .5rem solid #00A99D;

}

.h1Team {

	font-size: 2rem;
	color: #333;
	margin: .5rem 0;

}

.jobTitle {

	color: #777;
	font-size: 1rem;
	font-weight: 300;

}

.aboutTeam {

	font-size: 1rem;
	margin: .5rem 1.5rem;
	font-style: italic;
	text-align: center;
	color: #333;

}

.aButton {

	padding: .5rem 2rem;
	background-color: #00A99D;
	border-radius: 1rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: #eee;
	font-size: 1rem;
	transition: all .5s;

}

.aButton:hover{

	color: #333;
	transform: translateY(-4px);
	box-shadow: .5rem .5rem 2rem #70a1ff;

}

.aButton:active{

	color: #eee;
	transform: translateY(0);
	box-shadow: none;
	background: #111;


}

.socialMedia {

	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: .5rem 0;
	margin-top: .5rem;
	border-top: 1px solid rgba(0,0,0,.3);

}

.socialI{

	font-size: 1.5rem;
	transition: color .5s;
	color: #00A99D;

}



.fa-facebook-square:hover, .fa-linkedin:hover {

	color: #45e19f;

}

@media screen and (min-width: 700px) {

	.cardWrapper {

		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

	}

	.cardTeam {

		margin: 2rem 4.5rem;
		transition: transform .5s;

	}

	@keyframes fadeIn {

		from{
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

		.cardTeam:nth-child(1){

			animation: fadeIn .5s .5s backwards;
		}
		.cardTeam:nth-child(2){

			animation: fadeIn .5s .1s backwards;
		}		

		.cardTeam:hover{
			transform: scale(1.05);
		}

}
