.sidebar {
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: var(--main-color);
	z-index: 100;
	transition: width 300ms;
}

.sidebarBrand {
	height: 90px;
	padding: 1rem 0rem 1rem 2rem;
	color: #fff;
}

.sidebarBrand span {
	display: inline-block;
	padding-right: 2rem;
}

.sidebarMenu {
	margin-top: 1rem;
}


.sidebarMenu li {
	width: 100%;
	margin-bottom: 1.3rem;
	padding-left: 1rem;
}

.sidebarMenu a {
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1.1rem;
}

.sidebarMenu a.active {
	background: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--main-color);
	border-radius: 30px 0px 0px 30px;
}


.sidebarMenu a span:first-child {
	font-size: 1.5rem;
	padding-right: 1rem;
}



/* Responsive */

.navToggle:checked + .sidebar {
	width: 70px;
}

.navToggle:checked + .sidebar .sidebarBrand, 
.navToggle:checked + .sidebar li {
	padding-left: 1rem;
	text-align: center;
}

.navToggle:checked + .sidebar li a {
	padding-left: 0rem;
}

.navToggle:checked + .sidebar .sidebarBrand h2 span:last-child,
.navToggle:checked + .sidebar li a span:last-child {
	display: none;
}

.navToggle:checked ~ .mainContent {
	margin-left: 70px;
}

.navToggle:checked ~ .mainContent .header {
	width: calc(100% - 70px);
	left: 70px;
}

/*start of Main Content*/


.mainContent {
	transition: margin-left 300ms;
	margin-left: 345px;	
}

/* Navbar */

.header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}





.header h2 {
	color: #222;
}

.header label span {
	font-size: 1.7rem;
	padding-right: 1rem;
}


.searchWrapper {
	border: 1px solid #ccc;
	border-radius: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
}

.searchWrapper span {
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.6rem;
}

.searchWrapper input {
	height: 100%;
	padding: .5rem;
	border: none;
	outline: none;
}

.userWrapper {
	display: flex;
	align-items: center;
}

.userWrapper img {
	border-radius: 50%;
	margin-right: 1rem;
}

.userWrapper h4 {
	margin-bottom: 0rem !important;
}

.userWrapper small {
	display: inline-block;
	color: var(--text-grey);
}

/* End of Navbar */


.main {
	margin-top: 85px;
	padding: 2rem 1.5rem;
	background: #f1f5f9;
	min-height: calc(100vh - 90px);
}


/* Media Queries */

@media only screen and (max-width: 1200px) {

	.sidebar {
		width: 70px;
	}

	.sidebar .sidebarBrand, 
	.sidebar li {
		padding-left: 1rem;
		text-align: center;
	}

	.sidebar li a {
		padding-left: 0rem;
	}

	.sidebar .sidebarBrand h2 span:last-child,
	.sidebar li a span:last-child {
		display: none;
	}

	.mainContent {
		margin-left: 70px;
	}

	.mainContent .header {
		width: calc(100% - 70px);
		left: 70px;
	}

	.sidebar:hover {
		width: 345px;
		z-index: 200;
	}

	.sidebar:hover .sidebarBrand, 
	.sidebar:hover li {
		padding-left: 2rem;
		text-align: left;
	}

	.sidebar:hover li a {
		padding-left: 1rem;
	}

	.sidebar:hover .sidebarBrand h2 span:last-child,
	.sidebar:hover li a span:last-child {
		display: inline;
	}

}

@media only screen and (max-width: 960px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}

	.recentGrid {
		grid-template-columns: 60% 40%;
	}
}

@media only screen and (max-width: 768px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.recentGrid {
		grid-template-columns: 100%;
	}

	.searchWrapper {
		display: none;
	}

	.sidebar {
		left: -100% !important;
	}

	.header h2 {
		display: flex;
		align-items: center;
	}

	.header h2 label {
		display: inline-block;
		background: var(--main-color);
		padding-left: 0rem;
		margin-right: 1rem;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center !important;
	}

	.header h2 span {
		text-align: center;
		padding-right: 0rem;
	}

	.header h2 {
		font-size: 1.1rem;
	}

	.mainContent {
		width: 100%;
		margin-left: 0rem;
	}

	.header {
		width: 100% !important;
		left: 0 !important;
	}

	.navToggle:checked + .sidebar {
		left: 0 !important;
		z-index: 100;
		width: 345px;
	}


	.navToggle:checked + .sidebar .sidebarBrand, 
	.navToggle:checked + .sidebar li {
		padding-left: 2rem;
		text-align: left;
	}

	.navToggle:checked + .sidebar li a {
		padding-left: 1rem;
	}

	.navToggle:checked + .sidebar .sidebarBrand h2 span:last-child,
	.navToggle:checked + .sidebar li a span:last-child {
		display: inline;
	}

	.navToggle:checked ~ .mainContent {
		margin-left: 0rem !important;
	}
}

@media only screen and (max-width: 560px) {
	.cards {
		grid-template-columns: 100%;
	}
}





/*:root {
--main-color: #DD2F6E;
--color-dark: #1D2231;
--text-grey: #8390A2
}*/